

$primary: rgb(0, 0, 0);;
$secondary: rgb(230, 70, 21);
$success: rgb(52, 156, 122);
$danger: rgb(230, 70, 21);

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "danger": $danger,
);

.body-daniela{
  background-color: rgb(255, 255, 255)
}

.container{
  display: flex;
  align-items: center;
  justify-content: center; 
}

input[type=checkbox]
{
  /* Doble-tamaño Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari y Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 1rem;
}

.form-check-input{
  margin-top: 7rem!important;
  margin: 1rem;
}

.btn{
  font-family: 'Francois One', sans-serif!important;
}

.contenedor-selector-metricas{
  margin: 0.5rem
}

.bpm-ingresado{
  font-family: 'Michroma', sans-serif;
  font-size: 5rem;
}

.bpm-ingresado-input{
  text-align: center;
  width : 5em;
  padding: 1.5rem;
  color: rgb(255, 255, 255);
  background-color: black;
  text-shadow: 0rem 0rem 0.50rem rgb(250, 247, 67);
  box-shadow:  0rem 0rem 1rem 1rem rgb(255, 255, 255),
  inset 0rem 0rem 1rem 2rem rgb(255, 255, 255);
  border: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }


@import "./libs/Bootstrap/scss/bootstrap.scss";

